*{
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body{
    background-color: #000;
}

:root {
    --color-texto: #3498db;
}


/*----------------------------------------------------*/


/* Estilo inicial del header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000; /* Color de fondo por defecto */
    color: #fff;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    transition: top 0.3s, background-color 0.3s; /* Transición suave al ocultar/mostrar y al cambiar color */
    z-index: 1000;
}

/* Cuando el header está oculto y el usuario está desplazándose hacia abajo */
.header.hidden {
    top: -60px; /* Ajusta según la altura del header */
}

/* Cuando el header está visible y el usuario está desplazándose hacia arriba */
.header.scrolled-up {
    background-color: #111; /* Color de fondo cuando el usuario está desplazándose hacia arriba */
}

.header_a{
    font-size: larger;
    margin: auto 20px;
    text-decoration: none;
    text-shadow: 5px 5px 5px #0088cc;
}

/*----------------------------------------------------*/

.main_home{
    display: flex;
    margin: 100px auto 0px auto;
    position: relative;
}

.main-div {
    width: 50%;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.div-left {
    margin-left: 0;
}
.div-right {
    margin-right: 0;
}

.main-div img{
    width: 50%; 
    max-height: 400px;
    border-radius: 50px 50px 0 0; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    mask-image: linear-gradient(#000 80%, transparent);
    border: 2px solid var(--color-texto);
    border-bottom: none;
    padding-top: 5px;
}

.label {
    margin-bottom: 10px;
}

.main-div label{
    color: var(--color-texto);
}


.icons {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin: 10px auto; 
    font-size: 25px;
}

.icons input{
    background-color: #000;
    padding: 8px 6px;
    border-radius: 5px;
    border: 1px solid var(--color-texto);
    height: 90%;
    cursor: pointer;
}

.fas{
    margin-top: 1%;
}

/*----------------------------------------------------*/
.main_about {
    margin: 50px auto 20px auto;
    text-align: center;
}

.content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-divs, .bottom-divs {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 160px;
}

.top-divs {
    margin-bottom: 20px; /* Espacio entre los divs superiores y el h1 */
}

.bottom-divs {
    margin-top: 20px; /* Espacio entre el h1 y los divs inferiores */
}

.div-about {
    background-color: #101010;
    display: flex;
    flex-direction: column; /* Coloca el h3 en la parte superior */
    align-items: center; /* Centra los elementos horizontalmente */
    margin: 0 10px; /* Espacio entre los divs */
    padding: 20px;
    padding-left: 30px;
    border-radius: 8px; /* Bordes redondeados para los divs */
    width: 40%; /* Ancho del 40% del contenedor */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    border-left: 4px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.div-about:hover{
    border-left: 4px solid var(--color-texto);
}

.div-about h3 {
    color: var(--color-texto);
    margin: 0 0 20px 0; /* Margen inferior para separar el h3 del contenido */
    text-align: center; /* Centra el texto del h3 */
    width: 100%; /* Asegura que el h3 ocupe todo el ancho disponible del div */
}

.content-container {
    display: flex;
    align-items: center; /* Alinea los iconos y el texto verticalmente */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.content-container i {
    color: var(--color-texto);
    font-size: 50px; /* Tamaño del icono */
    margin-right: 20px; /* Espacio entre el icono y el texto */
    height: 80%; /* El icono ocupa el 80% de la altura del div */
}

.content-container p {
    margin: 0; /* Elimina márgenes adicionales de p */
    text-align: left; /* Alinea el texto del párrafo a la izquierda */
}

/*----------------------------------------------------*/

.main_knowledge{
    margin: 0px auto 100px auto;
}

.language{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    min-height: 200px; /* opcional, para mantener altura mínima */
    margin-bottom: 80px; /* crea espacio con los proyectos */
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #111;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    height: 100px;
}

.icon:hover{
    border: 1px solid #222;
    transition: border-color 0.2s ease-in-out;
}

.icon img{
    width: 50px;
    margin-bottom: 8px;
}

.icon i{
    font-size: 40px;
    margin-bottom: 5px;
}

.icon label{
    font-size: 12px;
}

.icon:nth-child(1) i { /* HTML */
    color: #E44D26;
}

.icon:nth-child(2) i { /* CSS */
    color: #1572B6;
}

.icon:nth-child(3) i { /* JavaScript */
    color: #F7DF1E;
}

.icon:nth-child(4) i { /* Git */
    color: #F1502F;
}

.icon:nth-child(5) i { /* Bootstrap */
    color: #563D7C;
}

.icon:nth-child(6) i { /* Java */
    background: linear-gradient(to bottom, #FF5D00 30%, #007396 70%); /* Gradiente de azul a naranja */
    -webkit-background-clip: text; /* Para aplicar el gradiente al texto en WebKit browsers */
    background-clip: text; /* Para aplicar el gradiente al texto en otros navegadores */
    color: transparent; /* Hacer que el color del texto sea transparente para mostrar solo el gradiente */
}

.icon:nth-child(7) i { /* C# */
    color: #68217A;
    padding: 10px;
    border-radius: 50%;
}

.icon:nth-child(8) i { /* MySQL */
    color: #00618A;
}

.icon:nth-child(9) i { /* SQLite */
    color: #003B57;
}

.sqlite{
    color: #003B57;
}

/*----------------------------------------------------*/
    #myModal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease, visibility 0.5s ease;
    pointer-events: none; /* para que no reciba eventos cuando está oculto */
}

#myModal.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* para que reciba eventos cuando está visible */
}


.modal-content {
    background-color: #111;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: fadeIn 0.3s ease-in-out;
    }


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    }

.close:hover {
    color: #000;
    }

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
    }

.imgs-proyect{
    
} 

.h2-proyect{
    text-align: center;
}


/*-----------------------Carrusel de Imagenes-----------------------------*/
    .carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: auto;
    }

    .carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
    margin: 10px auto;
    }

    .carousel-track img {
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto;
    display: block;
    object-fit: contain;
    border-radius: 10px;
    flex-shrink: 0;
}

    .prev, .next {
    position: absolute;
    top: 50%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10;
    }

    .prev {
    left: 0;
    border-bottom-right-radius: 10px ;
    border-top-right-radius: 10px ;
    }

    .next {
    right: 0;
        border-bottom-left-radius: 10px ;
    border-top-left-radius: 10px ;
    }

/*----------------------------------------------------*/


#proyectoss{
    height: 1px;
}

.main_projects h1{
    text-align: center;
    margin: 100px auto;
}

.div-project{
    height: 200px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;


}

.div-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #222;
    padding: 15px;
}

.technology{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 10px auto;
}

.projects i{
    font-size: 20px;
    margin: 5px;
}


.div-img img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.img-proyect{
    width: 20px;
}

.technology .fa-html5{
    color: #E44D26;
}

.technology .fa-css3-alt{
    color: #1572B6;
}
.technology .fa-js{
    color: #F7DF1E;
}
.technology .devicon-mysql-plain{
    color: #00618A;
}
.technology .fa-java{
    background: linear-gradient(to bottom, #FF5D00 30%, #007396 70%); /* Gradiente de azul a naranja */
    -webkit-background-clip: text; /* Para aplicar el gradiente al texto en WebKit browsers */
    background-clip: text; /* Para aplicar el gradiente al texto en otros navegadores */
    color: transparent; /* Hacer que el color del texto sea transparente para mostrar solo el gradiente */
}
.technology .devicon-csharp-plain{
    color: #68217A;
}
/*----------------------------------------------------*/

.main_certificados {
    margin: 150px auto;
}

.main_certificados h1 {
    text-align: center;
}

.carrusel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 90%;
    margin: auto;
}

.div-cert {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px 0;
    max-width: 80%;
}

.div-cert::-webkit-scrollbar {
    display: none; /* Ocultar barra de desplazamiento */
}

.div-cert img {
    width: 200px;
    flex-shrink: 0;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.div-cert img.active {
    transform: scale(2.5);
    z-index: 10;
    position: relative;
}

button.prevv,
button.nextt {
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    transition: background-color 0.3s;
}

button.prevv:hover,
button.nextt:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Fondo oscuro detrás del certificado ampliado */
.zoom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.zoom-overlay.visible {
    opacity: 1;
    pointer-events: all;
}

.zoom-overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255,255,255,0.6);
    cursor: pointer;
    transform: scale(0.7);
    transition: transform 0.3s ease;
}

.zoom-overlay.visible img {
    transform: scale(1);
}




/*----------------------------------------------------*/

.main_contact h1{
    text-align: center;
    margin: 50px auto;
}

.contact-form img{
    width: 300px;
}

.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    border-bottom: 1px solid #444;
    display: flex;
    flex-direction: column;
}

#label-form{
    font-size: 20px;
    color: var(--color-texto);
}

.form input{
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 5px;
    margin: 20px 0px;
}

.form textarea{
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    width: 100%;
    height: 80px;
    display: block;
    border-radius: 5px;
    padding: 5px;
}

.form input[type="email"], .form input[type="text"]{
    background-color: #000 !important;
    color: #fff !important;
}

.form input[type="submit"] {
    color: #000;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0089c9;
    width: 25%;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    margin: 15px auto;  
    border: 1px solid #000;
}

.form input[type="submit"]:hover {
    color: #0089c9;
    background-color: #000;
    border: 1px solid #0089c9;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.icons-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icons-form i{
    font-size: 25px;
    margin: 20px auto;
}

.contentButton{
    background-color: #1da211;
    border-radius: 20px;
    padding: 5px;
    border: none;
    cursor: pointer;
}


    @media (max-width: 768px) {
    .main_home {
        flex-direction: column;
        align-items: center;
    }

    .top-divs,
    .bottom-divs {
        flex-direction: column;
        align-items: center;
    }

    .div-about {
        width: 90%;
        margin: 10px 0;
    }

    .div-project {
        flex-direction: column;
        height: auto;
    }

    .projects {
        margin: 10px 0;
    }

    .contact-form {
        flex-direction: column;
    }

    .contact-form img {
        width: 80%;
        margin-bottom: 20px;
    }

    .form input[type="submit"] {
        width: 60%;
    }

        .main_home {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .main-div {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }

    .div-left,
    .div-right {
        margin: 0;
    }

    .main-div img {
        width: 60%;
        max-height: none;
        border-radius: 40px;
    }

    .icons {
        flex-wrap: wrap;
        justify-content: center;
    }
    }
